.redditLiveComments-controls {
    padding: 5px;
    border: 1px solid #5f99cf;
    background-color: #EFF7FF;
    font-family: arial,helvetica,sans-serif;
    font-size: larger;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 15px;
}

.redditLiveComments-label {
    margin-right: 10px;
}

.redditLiveComments-label strong {
    font-weight: bold;
}

.redditLiveComments-comment {
    -webkit-transition: background-color 5s ease;
}

.redditLiveComments-comment.redditLiveComments-hilight {
    background-color: #FDF8D9;
}